<div class="row" >
  <div class="col-md-11 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Misión</h1>
        <div class="template-demo" style="text-align:justify">
          Somos un municipio que ejerce el poder público de manera democrática e incluyente, 
          con honestidad y transparencia, privilegiando ante todo los derechos humanos y la 
          participación de la ciudadanía en el accionar de esta administración procurando 
          siempre y cuando el desarrollo y crecimiento sustentable y equitativo del municipio 
          de San Pedro Mártir Quiechapa.
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-11 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Visión</h1>
        <div class="template-demo" style="text-align:justify">
          Ser un municipio detonante del desarrollo social que garantice una mejor calidad de vida 
          a sus habitantes, garantizando la salud, vivienda, infraestructura, seguridad alimentaria, 
          economía y vías de comunicación accesibles, haciendo uso racional de los recursos naturales 
          para garantizar la planeación y ejecución de políticas públicas que contribuyan y promuevan 
          un desarrollo integral y sostenible.
        </div>
      </div>
    </div>
  </div>
</div>