<div class="row">
    <div class="col-lg-8 grid-margin stretch-card mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Galería</h4>
          <ngb-carousel>
            <ng-template ngbSlide style="width:100%">
              <img src="assets/images/quiechapa/image_11_35.jpg" alt="Random first slide" style="width:100%">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/images/carousel/banner_2.jpg" alt="Random second slide" style="width:100%">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/images/carousel/banner_1.jpg" alt="Random third slide" style="width:100%">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
</div>